/* input colour */
.css-1ptx2yq-MuiInputBase-root-MuiInput-root:after, .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: 2px solid #00c853;
  }
/* Clickable */
.clickable *{
    cursor: grab !important;
    transition: all 0.2s !important;
}
.clickable:hover{
    opacity: 0.8;
}
/* Cards */
.card-primary{
    background-color: rgb(236, 247, 236);
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:5px;

    border-radius: 15px;
    box-shadow: none !important;
}
.card-yellow{
    background-color: rgb(254, 251, 235);;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:5px;

    border-radius: 15px;

    box-shadow: none !important;
}
.card-red{
    background-color: #fff5f6;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:5px;

    border-radius: 15px;

    box-shadow: none !important;
}
.card-blue{
    background-color: #e3f2fd;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:5px;

    border-radius: 15px;

    box-shadow: none !important;
}
.card-green-solid{
    background-color: rgb(90, 194, 98);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:5px;

    border-radius: 15px;

    box-shadow: none !important;
}
.card-red-solid{
    background-color: #e53935;
    color:rgb(255,255,255,0.95);
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:5px;

    border-radius: 15px;

    box-shadow: none !important;
}

/* Buttons */
.btn{
    box-shadow: none !important;
    transition: all 0.3s
}

.btn-primary{
    background-color: #00c853;
    color:white;
}
.btn-primary:hover{
    background-color: #01ab48 !important;
}
.btn-yellow{
    background-color: rgb(243, 198, 65);
    color:white;
}
.btn-red{

}

.btn-rounded{

    width: 80px;
    height: 80px;
    font-size: 50px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.2s;
    transform: translate(-50%,0);
    box-shadow:none !important;
}
.btn-navigation-back{
    width: 80px;
    height: 80px;
    margin-right: 10px !important;
    font-size: 50px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.2s;
    transform: translate(-50%,0);
    box-shadow:none !important;
}
/* Forms */
.app-input{
    min-width:100%
}
/* Tables */
.table-head{
    font-size:12px;
}
.MuiTableCell-root{border-bottom: none}
/* App frame */
.app-container{
    background-color: white ;
    padding-top: 50px;
    padding-left: 50px;

    padding-right: 50px;
    border-radius: 30px;
    min-height: 500px;

}
.app-frame{
    height: 100vh;
}

/* On PC */
@media screen and (min-width: 800px) {
    .app-frame{
        background-color: #F8F8F8 ;
    }
    .app-container{
        background-color: white ;
        margin-top:10vh;
        max-width:400px;
        min-height: 500px;
        padding-top: 50px;
        padding-left: 50px;
    
        padding-right: 50px;
        border-radius: 30px;
    
    }
}

/* Typography */
.page-title {
    font-size: 32px;
    line-height: 40px;
    margin: 0 24px 24px;
    color: #4b4b4b;
    font-weight: 700;
}

/* Page-content */

/* Activity-record*/
.activity-time{
    font-size: 60px;
    font-weight: bold;
    color:white;
    margin-top: 50px;
    text-align: center;
}
.activity-unit{

    font-size: 40px;
    font-weight: bold;
    color: rgb(37, 119, 47,0.5)
}



    .activity-action-back{
        position: absolute;
        width: 100%;
        background-color:white;
        left: 0;
        right: 0;
        
        bottom: 0;
        height:50vh; 

        border-radius: 30px 30px 0px 0px;
        padding-top: 65px;
        padding-left: 30px;
        padding-right: 30px;
    }

/* On PC */
@media screen and (min-width: 800px) {
    .activity-action-back{
        max-width: 60%;
        left:20%
    }
}
.activity-pause-button{
    
    width: 80px;
    height: 80px;
    background: #fffafa;
    font-size: 50px;
    color: #f9322c;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: 0.2s;
    position: absolute;
    top: -30px;
    left: 50%; 
    transform: translate(-50%,0);
    box-shadow:none !important;
    border:7px solid;

    
}
.activity-display-box{
    height:60px;
}
.activity-display-box-item{
    position: absolute;
    margin-top:-7px;
    margin-left: -5px;
    max-width: 90%;
}


/* Report */
.report-subtitle{

}